.blogWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 75vh;
  border-left: 2px solid rgb(192, 192, 192);
  border-right: 2px solid rgb(192, 192, 192);
  padding-top: 10px;
  padding-left: 5px;
}
.body {
  line-height: 1.9;
}
.back {
  color: #0000ee;
  text-decoration: underline;
}
.back:hover {
  color: #ff0000;
  text-decoration: underline;
}
.back:active {
  color: #ff0000;
  text-decoration: underline;
}
@media (max-width: 520px) {
  .blogWrapper {
    width: 100%;
    margin: 0;
  }
}
