.icon {
  border-radius: 400px;
  cursor: pointer;
  min-width: 80px;
  min-height: 80px;
}
.nav {
  padding: 30px 5px;
  height: 450px;
  border-bottom: 2px solid rgb(192, 192, 192);
}
.links {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.wrapper {
  margin-top: 100px;
}
.git {
  background-color: gray;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .nav {
    height: 800px;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}
