.icon {
  border-radius: 400px;
  cursor: pointer;
}
.nav {
  padding: 30px;
  height: 450px;
  border-bottom: 2px solid rgb(192, 192, 192);
}
.links {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.linkWrapper {
  border: 2px solid rgb(192, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  background-color: rgb(128, 213, 247);
}
.linkWrapper:hover {
  opacity: 0.7;
}
.link {
  font-size: 30px;
}
.center {
  margin: 0 30px;
}
.wrapper {
  margin-top: 100px;
}
.myPage {
  background-color: rgb(87, 163, 227);
  height: 40px;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  text-align: center;
}
.git {
  background-color: gray;
  margin-left: 10px;
}
