.linkWrapper {
  border: 2px solid rgb(192, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  background-color: rgb(128, 213, 247);
  font-size: 30px;
  margin: 0 20px;
}
.linkWrapper:hover {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .linkWrapper {
    margin-top: 30px;
  }
}
