.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(128, 213, 247);
}
.imageWrapper {
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.image {
  border-radius: 400px;
  cursor: pointer;
}
.headerLink {
  display: flex;
  padding-right: 10px;
}
.title {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}
.title:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
  opacity: 0.5;
}
