.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(192, 192, 192);
}
.image {
  border-radius: 400px;
  cursor: pointer;
}
.navLink {
  margin-right: 5vw;
}
.text {
  display: inline-block;
  padding: 0 1vw;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
}
.text:hover {
  border-bottom: 2px solid rgb(192, 192, 192);
  opacity: 0.5;
}

@media (max-width: 520px) {
  .header {
    justify-content: space-around;
  }
  .linkInImageWrapper {
    display: none;
  }
  .text::after {
    content: "|";
    margin-left: 3px;
  }
}
