.footer {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid rgb(192, 192, 192);
}
.question {
  margin-top: 20px;
}
.twitterLink {
  color: #0000ee;
  text-decoration: underline;
}
.twitterLink:hover {
  color: #ff0000;
  text-decoration: underline;
}
.twitterLink:active {
  color: #ff0000;
  text-decoration: underline;
}
.copyright {
  margin-top: 30px;
}
